<!doctype html>
<html><head>
<title>{% block title %}Social{% endblock %}</title>
<META NAME="Description" CONTENT="A private community for something or other.">

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.js"></script>
<script type="text/javascript" src="http://dev.jquery.com/view/trunk/plugins/autocomplete/jquery.autocomplete.js"></script>
<link rel="stylesheet" href="http://dev.jquery.com/view/trunk/plugins/autocomplete/jquery.autocomplete.css" type="text/css"/>
<script src="http://documentcloud.github.com/underscore/underscore.js"></script>
  {% block head %}
  {% endblock %}
</head><body>
<div id="menu">
    <a href="{{ url_for('front')}}">Home</a> | 
    
    {% if g.logged_in %}
    Logged in as {{g.user.name}}
    | <a href="{{url_for('logout')}}">Log Out</a>
    {% else %}
    <a href="{{url_for('login')}}">Log In</a>
    </form>
    {% endif %}

</div>
{% block body %}
{% endblock %}
</body></html>
